@media(max-width:1199px) and (min-width:992px){
    .available_property .grid-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .desc_section.sticky-component .col.text.order-1 {
        max-width: 386px;
        padding: 1.5rem 0rem;
    }
    .container.team .content .grid-container{
        grid-template-columns: repeat(3, 1fr);
    }
    .abs.abs-price{
        right:0
    }
    .search-realestate{
        width: 90%;
        margin-left: 5%;
    }
    .footer .content .grid-container .desc{
        width:98%
    }
    .services .content .grid-container{
        grid-template-columns: repeat(2, 1fr);

    }
}
@media(max-width:991px) and (min-width:768px){
    .property-page .content .title{
        font-size: 23px;
    }
    .property-page .content .col.boxes .box div, .property-page .content .col.boxes .box ul{
        font-size: 13px;
    }
    .property-page .content .col.boxes .box .flex-start{
        gap:0.3rem
    }
    .property-page .content .col.boxes .box .flex-start span{
        margin-left: 0.1rem;
    }
    .property-page .content .col.boxes{
        width: 61%;
    }
    .property-page .content .col{
        width:37%
    }
    .property-page .content .col.boxes .box.details .second div {
        width: 37.33%;
    }
    /* .property-page .content{
        justify-content: flex-start;
        flex-direction: column;
    } */
    .available_property .grid-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .desc_section.sticky-component .col.text.order-1{
        max-width: 600px;
        width:600px;
        padding: 3rem 0rem;
        position: relative;
        top: 0;
        left: 50%;
        transform: translate(-50%);
    }
   
    .about_form .flex-col{
        width: 74%;
    }
   
    .container.team .content .grid-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .abs.abs-type .group-options div, .abs-bedroom .group-options div {
        width: 98%;
    }
    .services .content .grid-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .blogs_section .content .grid-container {
        grid-template-columns: repeat(2, 1fr);
    }
    
}
@media(max-width:767px) and (min-width:600px){
    
    /* .desc_section.sticky-component .col.text.order-1{
       
        padding: 3.5rem 0;
    } */
    .about_form .flex-col{
        width: 80%;
    }
    .container.team .content .grid-container{
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width:991px){
   
    html,
    body{
        overflow-x: hidden !important;
    }
    .about_form,
    .desc_section.sticky-component .flex-container {
        flex-direction: column;
    }
    .desc_section.sticky-component .col.text{
        width:100%
    }
    .sticky-content {
        
        width:100%;
        max-width: 100%;
    }
   
    .container.about_us .content .first_section::before{
        top: 13%;
        left: 15%;

    }
    .container.about_us .content .first_section .grid-container{
       display: flex;
       flex-direction: column;
    }
    .container.about_us .content .first_section .grid-container .col.parent_img{
        order: 1;
        justify-content: center;
        align-items: center;
        
    }
    .container.about_us .content .first_section .grid-container .img-container{
        width:100%
    }
    .container.contact-us .content{
        flex-wrap: wrap;
    }
    .container.contact-us .content .col{
        width:100%;
        margin:0 auto
    }
    
    .abs-price .group-options {
        padding: 0;
        margin: 10px 0;
    }
    .group-options.interest-group div,
    .group-options.property-group div{
        margin: 0.3rem 0.3rem;
    }
    .abs.abs-type .group-options, .abs-bedroom .group-options{
        width: 100%;
    }
    .group-options {
        width: 95%;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
    }
    .select2-container--default .select2-selection--multiple{
        max-width: 100%;
    }
    .footer .content .grid-container{
        display: block;
    }
    .footer .content .grid-container .col:first-child{
        display: block;
    }
    .footer .content .grid-container .col {
        margin-top: 2rem;
    }
    .about-section .content{
        flex-wrap: wrap;
        justify-content: center;
    }
    .about-section .content .text-content.col-flex,
    .about-section .content .img-container{
        width:100%
    }
    .about-section .content .img-container{
        order: -1;
    }
    .terms.flex{
        flex-direction: column;
        gap:1rem
    }
    .search-realestate form{
        grid-template-columns: repeat(2, 1fr);
    }
    .abs.abs-rent, .abs.abs-type, .abs-bedroom, .abs-price{
        width:calc(100% - 2rem);
        top:48px
    }
    .dropdown .rent-option, .dropdown .type-option, .dropdown .bedroom-option{
        height:48px
    }
    .search-realestate .submit{
        grid-column: 2 span;
        padding: 1rem;
        width:100%
    }
    .input-search{
        grid-column: 2 span;

    }
}
@media(max-width:599px){
    /* .desc_section.sticky-component .col.text.order-1{
       
        padding: 0;
    } */
    .about_form .flex-col{
        width: 100%;
    }
    .about_form .form-contact{
        display: block;
    }
    .container.about_us .content .first_section .grid-container .col.parent_img{
        width:100%
    }
    .container.team .content .grid-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .select2-container--default .select2-selection--multiple .select2-selection__rendered{
        max-width: 250px !important;
    } 
    .abs.abs-price .group-options div{
        margin: 0 0 1rem 0;
    }
}
@media(max-width:767px){
    .popup-content {
        width: 100%;
        max-width: 100%;
        padding: 3rem;
        max-height: 100%;
    }
    .popup-content .swiper-button-prev{
        left: 4rem;
    }
    .popup-content .swiper-button-next{
        right:4rem
    }
    .flex_banner{
        grid-template-columns: repeat(2, 1fr);
    }
    .flex_banner .show-more .overlay{
        font-size: 19px;
    }
    .popup-content .swiper-button-next:after,
    .popup-content .swiper-rtl .swiper-button-prev:after,
    .popup-content .swiper-button-prev:after,
    .popup-content .swiper-rtl .swiper-button-next:after{
        color: #927c75;
        font-size: 22px;
        font-weight: bold;
    }
    .property-page .content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
    }
    .property-page .content .col.boxes {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
        margin: 0 auto;
    }
    .property-page .content .col{
        width: 100%;
        margin: 2rem 0 0;
    }
    .property-page .content .col.boxes .box.details .second div{
        width:100%
    }
    .agent_unit .img_container img{
        width: 46%;
        object-fit: cover;
    }
    .agent_unit .img_container{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .property-page .content .title {
        font-size: 25px;


}
    .available_property .grid-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .desc_section.sticky-component .col.text.order-1 {
        width: 100%;
        max-width: 100%;
        /* padding: 3.5rem 0; */
        height: 18rem;
    }
    .desc_section.sticky-component .col.text{
        position: static;
    }
    .container.contact-us .content .col .desc,
    .container.contact-us .content .col .info{
        font-size: 19px;
        text-align: center;
    }
    .input-field{
        width:80%
    }
    .select2-container--default .select2-selection--multiple .select2-selection__rendered{
        max-width: 400px;
    }
    .search-realestate form{
        grid-template-columns: repeat(1, 1fr);
    }
    .group-options div{
        font-size: 14px;
    }
    .search-realestate{
        top:44%;
        width:90%;
        margin-left: 5%;
        margin-right: 5%;
    }
    .search-realestate .submit{
        grid-column: 1 span;
        
    }
    .input-search{
        grid-column: 1 span;

    }
    .abs.abs-type .group-options div, .abs-bedroom .group-options div{
        width:97%
    }
    .services .content .grid-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .blogs_section .content .grid-container {
        grid-template-columns: repeat(1, 1fr);
    }
    .services .content .buttons{
        flex-wrap: wrap;
    }
  
    .blogs_section .content .grid-container .col{
        height:580px
    }
    .video-desktop{
        display: none;
    }
    .video-mobile{
        display: block;
    }
}
