# .ebextensions/composer.config
commands:
  01-install-composer:
    command: |
      /usr/bin/composer.phar install --no-dev --prefer-dist --optimize-autoloader

container_commands:
  01-clear-config:
    command: "php artisan config:clear"
  02-cache-config:
    command: "php artisan config:cache"
  03-clear-view:
    command: "php artisan view:clear"
  04-cache-view:
    command: "php artisan view:cache"
